{% extends "orders/layout.html" %}

{% block title %} Shopping Cart {% endblock %}

{% block body %}
  <section class="cart">
    <h1> Shopping cart</h1>
    <form action="{% url 'place_order' %}" method="post" id="place_order">
      {% csrf_token %}
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th>Topping </th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
      {% for order in orders %}
          <tr class="cart_item">
            <td>{{order.name}}</td>

            <td>
              <ul>
              {% for topping in order.toppings %}
                    <li> {{topping}} </li>
              {% endfor %}
              </ul>
            </td>
            <td>
              <select>
                <option value="1"> 1</option>
                <option value="1"> 2</option>
                <option value="1"> 3</option>
                <option value="1"> 4</option>
                <option value="1"> 5</option>
                <option value="1"> 6</option>
                <option value="1"> 7</option>
                <option value="1"> 8</option>
                <option value="1"> 9</option>
                <option value="1"> 10</option>
              </select>
            </td>
            <td data-price={{order.price}}  data-item='{{order.item}}' data-id={{order.id}}>${{order.price}} <a href="" class="remove-cart-link">Remove </a></td>
          </tr>
      {% endfor %}
          <tr>
            <th>Total</th>
             <td> </td>
            <td></td>
            <td><b class="price_display">${{total_price}}</b></td>
          </tr>
          <input id="total_price" value={{total_price}} style="display:none">
      </tbody>
    </table>
    {% if no_item %}
        <p> No item in the cart </p>
    {% else %}
      <button class="btn" type="submit"> Place order </button>
    {% endif %}
  </form>

  {% for piz in pizzas %}
      {{piz.name}} -

      {% for n in piz.toppings %}
        {{n}} -
      {% endfor %}

      {{piz.price}} <br>

  {% endfor %}
</section>
{% endblock %}
